@import "tailwindcss";

@font-face {
  font-family: "Avenir";
  src: url("avenir.woff2") format("woff");
}

@font-face {
  font-family: "Deco";
  src: url("deco.ttf");
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}
body h1 {
  font-family: Deco, Arial, Helvetica, sans-serif;
}

.start {
  background-image: url(../img/bg/paradise1.jpg);
  background-repeat: no-repeat;
  background-color: black;

  height: 100vh;
  background-position-x: center;
  background-position-y: 0; /* initial position */
  background-size: 660px 100vh; /* initial size */

  padding: 2rem;
  position: sticky;
  top: 0;

  transition: height 0.5s, background-position-y 0.5s, background-size 0.5s;

  @media (min-width: 768px) {
    background-position-x: right;
  }
}

.bottom-arrow {
  opacity: 1;
  position: absolute;
  bottom: 10px;
  left: 45vw;
  transition: opacity 0.5s;
}

.oaw .start {
  text-shadow: 5px 5px 5px black;
  height: 25vh;
  /* header position and size */
  background-position-y: -50px;
  background-size: 1000px 160vh;

  /* @media (min-width: 768px) {
    background-size: 60% 400%;
  } */
}

.oaw .start h1 {
  @media (max-width: 768px) {
    @apply w-2 text-4xl;
  }
}
.oaw .start h2 {
  @media (max-width: 768px) {
    @apply w-2 text-xl;
  }
}
.oaw .bottom-arrow {
  opacity: 0;
}
.menu {
  opacity: 0;
  transition: opacity 2s;
}
.oaw .menu {
  opacity: 1;
}

.content > div {
  @apply pt-[35vh] min-h-[100vh];
}

.content h3 {
  @apply text-center uppercase mb-10 text-4xl;
}
.content p {
  @apply mb-5 font-light;
}
.content a {
  @apply text-amber-600 underline;
}
.content img {
  @apply border-4 border-amber-50 max-w-[80vw] lg:max-w-[60vw] block mx-auto;
}
